<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <form method="POST" action="/listings/new">
        <input type="text" name="title" placeholder="Enter title">
        <br>
        <input type="text" name="description" placeholder="Enter Description">    
        <br>
        <input type="text" name="image" placeholder="Enter Image link">
        <br>
        <input type="number" name="price" placeholder="Enter price">
        <br>
        <input type="text" name="location" placeholder="Enter location">
        <br>
        <input type="text" name="country" placeholder="Enter country name">
        <button>Submit</button>   
    </form>
</body>
</html>